html {
    --color-neutral-950: oklch(0.145 0 0);
    --text-3xl: 1.875rem;
}

html.dark {
    background-color: var(--color-neutral-950);
    color: white;
}

.dark a {
    color: lightblue;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(20, 100, 150, 1);
    text-decoration: none;
}

p {
    line-height: 24px;
    font-size: 14px;
}

h1 {
    font-size: var(--text-3xl)
}

#content {
    width: 80%;
    margin: auto;
    padding-top: 25vh;
}
@media screen and (max-width: 750px) {
    #content {
        padding-top: 5vh;
    }
}

#content > #name {
    margin-bottom: 10px;
    max-width: 900px;
    transform: translateX(-1.5rem);
}

#content > #decor {
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content > #summary {
    line-height: normal;
    font-size: 12px;
    font-weight: light;
    color: grey;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
}

#content > #info {
    min-height: 5em;
    transition: opacity 1s, margin 1s;
}

#content > #info p {
    margin: 1rem 0;
}

#socials {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
}

#socials > a > img {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 0.5rem;
}

.dark #socials > a > img {
    filter: invert();
}

#links {
    display: block;
    transform-origin: bottom right;
    transform: rotate(90deg) translateY(100%);
    width: 100vh;
    bottom: 0;
    right: 0;
    position: fixed;
}

#links > a {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

#links > a > span {
    display: none;
}

#links > a:hover>span {
    display: inline !important;
}

.badge {
    display: inline-block;
    padding: 0.125rem 0.3rem;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
